ZG_TESTNET_RPC_URL=https://evmrpc-testnet.0g.ai
ZG_MAINNET_RPC_URL=https://evmrpc.0g.ai
ZG_TESTNET_DEPLOYMENTS_PATH=deployments/zgTestnet
ZG_TESTNET_ETHERSCAN_BROWSER_URL="https://chainscan-galileo.0g.ai"
ZG_TESTNET_ETHERSCAN_API_URL="https://chainscan-galileo.0g.ai/open/api"
VERIFY_AGENT_NFT=true
ZG_AGENT_NFT_CREATOR_PRIVATE_KEY=""
ZG_AGENT_NFT_ALICE_PRIVATE_KEY=""
ZG_AGENT_NFT_BOB_PRIVATE_KEY=""
ZG_TESTNET_PRIVATE_KEY=""
ZG_MAINNET_PRIVATE_KEY=""
